dn: {{ ldap.domain }}
dc: devops
objectClass: top
objectClass: domain

dn: cn=ldapadm,{{ ldap.domain }}
objectClass: organizationalRole
cn: ldapadm
description: LDAP Manager

dn: ou=People,{{ ldap.domain }}
objectClass: organizationalUnit
ou: People

dn: ou=Group,{{ ldap.domain }}
objectClass: organizationalUnit
ou: Group
